.button {
    margin-top: 64px;
    height: 58px;
    border-radius: 8px;
    font-weight: 500;
    background: #ea4335;
    color: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
        
    cursor: pointer;
    border: 0;
}